@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

:root{
    --primary-color: #212A3E;
    --secondary-color: #394867;
    --light-color: #9BA4B5;
    --white-color: #F1F6F9;

    background-color: var(--primary-color);
}

html, body{
    height: 100vh;
    width: 100vw;
    overflow:hidden;
}

.rotate-text {
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.sortedUL {
    list-style-type: none !important;
    margin: 0;
    padding: 0.5em;
}
